[data-testid="stSidebar"] {
    background-image: url(https://github.com/Moubarak321/DiabetForecast/blob/main/images/dia1.png?raw=true);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 40px 20px;
  }